package main

import "bike_race/auth"

templ NotFoundPage(login auth.Login) {
	<html>
		@auth.Head()
		<body>
			@auth.Navbar(login)
			<main class="w-full flex flex-col items-center">
				<p class="text-9xl font-bold text-blue-900" style="text-shadow: grey 3px 3px;">404</p>
				<p class="text-3xl text-gray-700">{ login.Tr("notFound") }</p>
			</main>
		</body>
	</html>
}
