<nav>
  <div class="flex flex-row w-full shadow justify-between bg-blue-300">
    <div class="flex flex-row">
      <a href="/" class="px-4 py-2 hover:bg-blue-700">{{ call .T "homeNavLink" }}</a>
      <a href="/races" class="px-4 py-2 hover:bg-blue-700">{{ call .T "raceNavLink" }}</a>
      <a href="/users" class="px-4 py-2 hover:bg-blue-700">{{ call .T "usersNavLink" }}</a>
      {{ if .Ok}}
      <a href="/races/registrations" class="px-4 py-2 hover:bg-blue-700">{{ call .T "registrationsNavLink" }}</a>
      {{ end }}
    </div>
    <div class="flex flex-row">
      {{if .Ok}}
      <a href="/users/me" class="px-4 py-2 hover:bg-blue-700">{{ call .T "profileNavLink"}}</a>
      <form action="/users/log_out" method="post">
        <input type="submit" value={{ call .T "logOutButton" }} class="px-4 py-2 hover:bg-blue-700 cursor-pointer" />
      </form>
      {{else}}
      <form action="/users/log_in" method="post" class="flex flex-row items-center px-4 gap-2">
        <input type="text" name="username" placeholder={{ call .T "usernamePlaceholder" }} class="rounded px-2" />
        <input type="password" name="password" placeholder="password" class="rounded px-2">
        <input type="submit" value={{ call .T "logInButton" }} class="btn-primary" />
      </form>
      {{end}}
    </div>
  </div>
</nav>