package auth

import "fmt"

templ MePage(login Login) {
	<html>
		@Head()
		<body>
			@Navbar(login)
			<h1>{ login.Tr("profile") }</h1>
			<p>{ login.Tr("language") }: {  fmt.Sprintf("language_%s", login.User.Language())  }</p>
		</body>
	</html>
}
