package auth

templ UsersPage(login Login, users []UserListModel) {
	<html>
		@Head()
		<body>
			@Navbar(login)
			<h1>{ login.Tr("allUsers") }</h1>
			<table>
				<thead>
					<tr>
						<th>{ login.Tr("username") }</th>
					</tr>
				</thead>
				<tbody>
					for _, user := range users {
						<tr>
							<td>{ user.Username }</td>
						</tr>
					}
				</tbody>
			</table>
		</body>
	</html>
}
