{{ template "layout.html" . }}

{{ define "content" }}
<h1>All races</h1>
<form action="/races/organize" method="post">
  <fieldset>
    <input type="text" name="name" placeholder="Race name" />
    <input type="submit" value="Organize race">
  </fieldset>
</form>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start at</th>
      <th>Organizers</th>
      <th>Registration</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Races}}
    <tr>
      <td>
        <a href="/races/{{.Id.String}}">{{.Name}}</a>
      </td>
      <td>
        {{if not .StartAt.IsZero }}
        {{.StartAt}}
        {{else}}
        <i>Not chosen</i>
        {{end}}
      </td>
      <td>{{.Organizers}}</td>
      <td>
        {{if .IsOpenForRegistration}}
        {{.RegisteredCount}}
        {{else}}
        Closed
        {{end}}
      </td>
      <td>
        <form action="/races/{{.Id.String}}/register" method="post">
          <input type="submit" value="Register">
        </form>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>
{{ end }}